@model IEnumerable<clientes.Models.Cliente>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-2">
    <div class="col">
        <div class="alert alert-success d-flex justify-content-between align-items-center">
            <h4 class="m0 p0">Cadastro de Clientes</h4>
            <a href="/clientes/adicionar" class="btn btn-outline-dark btn-sm cursor">Add</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-sm table-hover table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Idade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Sobrenome</td>
                        <td>@cliente.Idade</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>